
.ab {
    text-align: center;
    margin-top: 20px;
  
  }
  
  h1 {
    font-size: 36px;
    color: #007bff;
    padding: 100px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-top: x;
    padding:  20px;
  }
  