/* Admin Login Styles */
.ac {
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 13px;
  background-color: #141E46;
  border: 1px solid #279EFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ac h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: -60px;
 
}

.ac form {
  width: 420px;
  position: center;
  display: flex;
  flex-direction: column;

}

.ac div {
  margin-bottom: 20px;
}


.ac input[type="text"],
.ac input[type="password"] {
  width: 98%;
  padding: 8px;
  border: 5px solid #ddd;
  border-radius: 13px;
  margin: -5px 0;
}

.ac .login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}
.ac p {
  margin-top: 20px;
  color: #b9bdcf;
}

.ac a {
  color: #279EFF; 
  text-decoration: underline; 
  margin-left: 20px; 
}

.ac .login-button:hover {
  background-color: #0056b3;
  
}
label{
  text-align: left;

}
