 
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141E46;
  padding: 10px 20px;
  position: relative; }

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #F3FDE8;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.navbar-toggler-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #F3FDE8;
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  border: 2px solid transparent; /* Add a border for the box effect */
  border-radius: 5px; /* Add some border radius */
  margin-right: 10px; /* Add spacing between navigation items */
}

.nav-link:hover {
  color: #F9F871;
  transform: scale(1.1);
  border-color: #F9F871; /* Change the border color on hover */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .Navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .navbar-toggler {
    margin-top: 10px;
  }

  .navbar-collapse {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #141E46;
    top: 100%;
    left: 0;
  }

  .navbar-collapse.active {
    display: block;
  }

  .nav-link {
    display: block;
    padding: 10px 0;
    margin-right: 0; /* Remove margin for vertical alignment */
  }
}
