

body {
  font-family: Arial, sans-serif;
  background-color: #141E46;
  color: #e0ead6;
  margin: 0;
  padding: 0;}
.intro-text {
  text-align: center; /* Center align the text */
  margin: 1px 0; /* Add margin for spacing */
}
.white-heading-hostel,
.blue-heading,
.black-heading {
  color: #F3FDE8;
  display:inline;
  position: center;
  left: 20px;
  width: 80px;
   margin-right: -5px;}
   .white-heading-para {
    color: #F3FDE8;
    margin-top: 4px; /* Add margin for spacing */
}


h2 {
  color: #279EFF;
  text-align: center; 
  margin: 30px 0; 
}


.box-container {
  width: 400px; 
  margin: 0 auto; 
  padding: 20px; 
  border: 2px solid #279EFF; 
  border-radius: 10px; 
  background-color: #141E46; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


form {
  margin-top: 20px;
}
.box-container p {
  margin-top: 10px;
  color: #d9def0;
}

.box-container a {
  color: #279EFF; 
  text-decoration: underline; 
  margin-left: 5px; 
}

label {
  color: #279EFF;
  display: block;
  margin-bottom: 4px;
  font-size: 18px;
  text-align: relative;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #279EFF;
  color: #F3FDE8;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}


a {
  color: #279EFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
