.nav-white{
    background-color: #F3FDE8;
  }
  
  .navbar-brand{
    color:#F3FDE8;
  }
  
  .white-heading{
    color:#F3FDE8;
    display: inline-block;
      width:150px;
  }
  
  .white-heading-hostel{
    color:#F3FDE8;
    display: inline-block;
      width:150px;
      position: relative;
      left:140px;
  }
  
  .blue-heading{
    color:#279EFF;
    display: inline-block;
    width:300px;
    position: relative;
    left:120px;
  }
  
  .registration{
    position: relative;
    top:30px;
    left:335px;
  }
  .btn-login{
    background-color: #279EFF;
    width:400px;
    height:50px;
    font-size:20px;
    color:#F3FDE8;
    border-radius: 10px;
    border:0;
    position: relative;
    top:25px;
    left:205px;
  }
  
  .white-heading-para{
  
    color:#F3FDE8;
    position: relative;
    bottom:65px;
    left:245px;
  }
  
  .text{
    position: relative;
    top:150px;
    display:inline-block;
    width:800px;
  }
  
  .size-image{
    width:500px;
    height: 550px;
    border-radius: 20px;
  }
  .image{
    display:inline-block;
    width:300px;
    position:relative;
    top:50px;
    left:150px;
  }
  
  .or-text-white{
    font-size: 25px;
    color:#F3FDE8;
    position: relative;
    top:40px;
    left:395px;
  }
  h1{
    position:relative;
    left:75px;
    bottom: 70px;
  }