.BodyAttendence{
    background-color:#F3FDE8;
    width:1480px;
    height:667.5px;
}
.attend{
    color: #0E21A0;
    font-size:80px;
    position: relative;
    top:20px;
    left:500px;
    display:inline-block;
    width:400px;
  }
  
  .total-days{
    font-size: 25px;
    color: #0E21A0;
    position:relative;
    top:80px;
    right:60px;
    display:inline-block;
    width:300px;
  }
  
  .present-days{
    font-size: 25px;
    color: #0E21A0;
    position:relative;
    top:80px;
    right:100px;
    display:inline-block;
    width:300px;
  }
  
  .absent-days{
    font-size: 25px;
    color: #0E21A0;
    position:relative;
    top:80px;
    right:120px;
    display:inline-block;
    width:300px;
  }
  
  .this-week{
    background-color: #0E21A0;
    color:#F3FDE8;
    display:inline-block;
    width:350px;
    height:300px;
    position:relative;
    left:360px;
    top:150px;
    border-radius:10px;
  }
  
  .This{
    font-size:25px;
    position:relative;
    top:15px;
    left:10px;
  }
  
  .monday{
    font-size:25px;
    position:relative;
    top:10px;
    left:10px;
  }
  
  .sunday{
    font-size:25px;
    position:relative;
    top:10px;
    left:10px;
  }
  
  .size-graph{
    position:relative;
    top:80px;
    left:350px;
    width:350px;
    height:350px;
  }
  .graph{
    display:inline-block;
    width:400px;
  }
  
  hr{
      border-color:#F3FDE8;
      border-width:20px;
      border-style:dashed;
  }